  #contact {
    background-image: url('3D.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
   
    padding: 20px;
    color: #fff; 

   
}
#contact input,#message {
  background-color: rgba(255, 255, 255, 0.5); 

 
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

#about{
  background:linear-gradient(to right,#3498db,#8e44ad);
  color:#fff;
  padding:50px;
}

